.main-chat
  .main-header
    .main-header__left-box
      .main-header__left-box__current-group
        %p= @group.name
      .main-header__left-box__member
        %ul
          %li.li-name Member : 
          - @group.users.each do |user|
            %li.li-name= user.name
    = link_to edit_group_path(current_user),class: "main-header__edit-btn" do
      Edit
  .main-messages
    = render partial: 'message', collection: @messages
  .main-form
    .main-form__box
      = form_for [@group, @message] do |f|
        .input-box
          = f.text_field :text, class: 'input-box__text',placeholder: 'type a message'
          = f.label :image, class: 'input-box__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'file'
        = f.submit 'Send', class: 'input-btn'